/* Configuration de la police */
@font-face {
    font-family: 'Edwardian Script ITC';
    src: url('edwardianscriptitc.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Styles de base */
html, body {
    font-family: "Edwardian Script ITC", cursive;
    height: 100%;
    margin: 0; 
    padding: 0; 
    overflow: hidden;
}

/* Créer la taille de la pgae */
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

/* Image de fond */
.image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("<?php echo '/images/' . $pieces_images[$piece]; ?>");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}


.image-container img {
    width: 100%;
    height: auto;
}

/* Le texte sur l'image */
.text-overlay {
    position: absolute;
    right: 0;
    width: 20em;
    height: 100vh;
    padding: 2em;
    background: linear-gradient(135deg, #412015, #976336);
    color: #F1C27D;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

h2{
    font-size: 2em;
}

/* Style des formulaires, textes, boutons*/
form {
    position: relative;
    font-size: 1.2em;
}

form button {
    font-family: "Edwardian Script ITC", cursive;
    font-size: 1em;
    padding: 10px 20px;
    background-color: #976336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #edc078;
}

p{
    font-size: 1.3em;
}

h1{
    font-size: 1.5em;
}

/* Modifie les propriétés des liens */
a {
    font-size: 1.2em;
    color: #F1C27D;
    text-decoration: none;
}

a:hover {
    color: #F1C27D;
    text-decoration: none;
}

a:focus {
    outline: none;
}

/* Style des menus déroulants */
select {
    appearance: none; 
    background-color: #976336; 
    color: #F1C27D; 
    border: 2px solid black;
    padding: 10px 15px;
    border-radius: 5px; 
    font-size: 0.5em; 
}
